button{
    background-color: #555555;
    color: pink;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    margin: 45vh 105vh;
    border-radius: 50px;
    border: none;
    box-shadow: #555559;
    display:flex;
    justify-content: center;
    border-style: double;
    border-color: pink;
    

}
